@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 5px;
}

.right {
    width: 75vw;
    margin: 11px 0;
    max-height: 100vh;
    position: relative;
}

.home ul li {
    display: flex;
    list-style: none;
    width: 20px;
    gap: 14px;
    padding-top: 18px;
    font-weight: bold;
}

.crossCont {
    gap: 230px;
}

.cross {
    display: none;

}


.library {
    min-height: 80vh;
    position: relative;
}

.heading {
    display: flex;
    width: 100%;
    gap: 14px;
    padding-top: 18px;
    font-size: 10px;
}

.heading img {
    width: 25px;
}

.footer {
    display: flex;
    gap: 13px;
    font-size: 10px;
    color: grey;
    position: absolute;
    bottom: 0;
    padding: 20px 2px;

}

.footer a {
    color: grey;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(52, 49, 49, 0.244);
    height: 70px;
}

.header>* {
    padding: 20px;
}

.hamburger {
    display: none;
    width: 30px;
}

.hamBurgerCont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.signupBtn {
    background-color: rgba(52, 49, 49, 0.244);
    cursor: pointer;
    color: rgba(255, 255, 255, 0.79);
    margin-right: 2vmax;
    padding: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
}

.signupBtn:hover {
    font-size: 17px;
    color: white;
}

.loginBtn {
    background-color: white;
    padding: 18px;
    border-radius: 30px;
    width: 125px;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

.loginBtn:hover {
    background-color: rgba(255, 255, 255, 0.911);
    padding: 19px;
    font-size: 17px;
}

.playlists {
    padding: 16px;
}

.cardContainer {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin: 30px;
    overflow-y: auto;
    max-height: 70vh;
}

.card {
    width: 200px;
    padding: 10px;
    background-color: #252525;
    border-radius: 7px;
    position: relative;
}

.card>* {
    padding-top: 3px;
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 7px;
}

.play {
    width: 28px;
    height: 28px;
    padding: 10px;
    background-color: #1ed760;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 15px;
    top: 230px;
    opacity: 0;
    transition: all ease-out 0.2s;
}

.card:hover {
    .play {
        opacity: 1;
        top: 200px;
    }
}

.playBar {
    position: absolute;
    /* bottom: 0; */
    background-color: #58605b;
    border-radius: 20px;
    width: 88%;
    padding: 12px;
}

.seekBar {
    background-color: rgb(193, 188, 188);
    width: 100%;
    height: 7px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 12px;

}

.circle {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    top: -5px;
    left: 0%;
    transition: left 0.5s;
}

.playButtons {
    display: flex;
    justify-content: center;
    gap: 22px;
}

.playButtons img {
    cursor: pointer;
}

.playBar-inner {
    display: flex;
    justify-content: space-between;
}

#play {
    transition: all 3s;
}

.songList {
    height: 300px;
    overflow-y: auto;
}

.songList ul {
    padding: 10px;
}

.songList ul li {
    list-style: decimal;
    display: flex;
    justify-content: space-between;
    width: 276px;
    gap: 10px;
    padding: 12px 0;
    border: 2px solid rgb(138, 137, 137);
    margin: 0.7vmax 0 0 0;
    border-radius: 10px;
}

.songList ul li>img {
    width: 20px;
}

.info div {
    width: 12vmax;
    font-size: 12px;
}

.playNow {
    width: 71px;
    display: flex;
    position: relative;
}

.playNow span {
    padding: 9px;
    justify-content: center;
    align-items: center;
    width: 36px;
    font-size: 0.54rem;

}

.playNow img {
    width: 10px;
}


@media (max-width: 1200px) {
    .left {
        position: absolute;
        left: -100%;
        transition: all 0.5s;
        z-index: 1;
        width: 370px;
        background-color: black;
    }

    .right {
        width: 100vw;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .cross {
        display: block;
        cursor: pointer;
    }

    .buttons * {
        font-size: 13px;
    }

    .loginBtn {
        padding: 10px;
        width: 75px;
    }

    .loginBtn:hover {
        padding: 11px;
        font-size: 15px;
    }

    .signupBtn:hover {
        font-size: 13.5px;
    }

    .info div {
        width: 160px;
        font-size: 12px;
    }

    .playBar {
        width: 70vw;
    }

    .seekBar{
        width: 90%;
    }
}